In [2]:
# Importar las librerías
import pandas as pd
import openpyxl
# from eventClassifier import oniClassifier #Módulo de clasificación de eventos para cada indice
import indexes

In [4]:
mei_entire_df = pd.read_csv("./data/mei_entire.csv")
mei_entire_df

,year,01,02,03,04,05,06,07,08,09,10,11,12
0,1979,0.47,0.29,-0.05,0.21,0.27,-0.11,-0.11,0.47,0.38,0.23,0.53,0.63
1,1980,0.33,0.20,0.39,0.51,0.45,0.55,0.47,0.03,0.12,0.02,-0.07,-0.12
2,1981,-0.36,-0.23,0.33,0.43,-0.24,-0.70,-0.61,-0.34,-0.07,-0.16,-0.27,-0.19
3,1982,-0.43,-0.49,-0.27,-0.36,-0.12,0.62,1.65,1.91,1.69,1.78,2.14,2.37
4,1983,2.48,2.68,2.61,2.76,2.86,1.98,0.63,-0.17,-0.49,-0.53,-0.47,-0.50
5,1984,-0.54,-0.56,-0.16,0.07,-0.45,-0.66,-0.34,-0.20,-0.14,-0.19,-0.58,-0.28
6,1985,-0.25,-0.58,-0.60,-0.76,-1.23,-0.67,-0.10,-0.49,-0.56,-0.08,-0.06,-0.42
7,1986,-0.40,-0.34,-0.40,-0.53,-0.26,0.01,0.41,0.97,1.29,0.56,0.64,1.06
8,1987,1.03,1.16,1.57,1.74,1.96,2.07,1.88,1.46,1.26,1.18,0.90,0.79
9,1988,0.63,0.33,0.17,-0.01,-0.39,-1.17,-1.78,-1.81,-1.80,-1.59,-1.70,-1.55
10,1989,-1.12,-1.10,-1.24,-1.09,-1.03,-0.99,-1.08,-0.66,-0.53,-0.49,-0.36,-0.07
11,1990,0.13,0.45,0.61,0.17,0.08,0.05,0.13,0.02,0.22,-0.07,0.12,0.31
12,1991,0.19,0.08,0.20,0.20,0.35,0.97,0.91,0.37,0.54,0.97,1.04,1.23
13,1992,1.68,1.58,1.71,1.97,1.68,1.51,0.62,-0.02,0.40,0.67,0.62,0.73
14,1993,0.79,0.89,0.77,0.98,1.47,1.51,0.90,0.60,0.61,0.96,0.70,0.27
15,1994,-0.01,-0.21,-0.23,0.01,-0.03,0.25,0.96,0.87,1.10,1.52,1.01,0.91
16,1995,0.82,0.54,0.17,0.13,0.14,0.01,-0.29,-0.70,-0.94,-0.74,-0.77,-0.90
17,1996,-0.85,-0.80,-0.66,-0.76,-0.85,-0.91,-0.83,-0.64,-0.31,-0.37,-0.34,-0.47
18,1997,-0.65,-0.72,-0.30,0.15,0.71,2.34,2.26,2.26,2.20,2.06,2.14,2.11
19,1998,2.30,2.45,2.27,2.61,2.33,0.42,-1.53,-1.82,-1.40,-1.29,-1.34,-1.29
20,1999,-1.28,-1.20,-1.15,-1.16,-1.33,-1.26,-1.18,-1.03,-1.16,-1.33,-1.33,-1.43
21,2000,-1.25,-1.26,-1.37,-0.90,-0.93,-1.18,-0.61,-0.08,-0.35,-0.52,-0.86,-0.79
22,2001,-0.83,-0.86,-0.78,-0.55,-0.51,-0.73,0.04,0.38,-0.06,-0.22,-0.28,0.06
23,2002,0.09,-0.26,-0.20,-0.36,-0.14,0.34,0.44,1.01,0.88,0.84,0.84,0.91
24,2003,0.82,0.63,0.53,-0.11,-0.61,-0.10,0.01,0.05,0.18,0.28,0.30,0.14
25,2004,0.19,-0.05,-0.43,-0.23,-0.46,-0.39,0.46,0.77,0.59,0.40,0.56,0.48
26,2005,0.09,0.61,0.83,0.14,0.19,0.20,-0.00,0.01,-0.02,-0.66,-0.70,-0.70
27,2006,-0.64,-0.48,-0.62,-0.84,-0.42,-0.18,0.21,0.59,0.65,0.77,1.00,0.64
28,2007,0.64,0.39,-0.19,-0.32,-0.41,-0.83,-0.75,-0.90,-1.06,-1.13,-1.12,-1.19
29,2008,-1.06,-1.27,-1.52,-1.11,-0.99,-0.80,-0.78,-1.01,-1.02,-1.08,-0.98,-1.01
30,2009,-1.01,-0.85,-0.95,-0.81,-0.72,-0.05,0.56,0.56,0.42,0.56,1.04,0.95
31,2010,0.93,1.28,1.33,0.49,-0.12,-1.29,-2.43,-2.38,-2.26,-2.16,-2.01,-1.86
32,2011,-1.77,-1.59,-1.75,-1.69,-1.23,-1.02,-0.75,-0.81,-1.08,-1.30,-1.14,-1.18
33,2012,-1.07,-0.68,-0.58,-0.38,-0.32,-0.28,0.34,-0.02,-0.29,-0.19,-0.03,-0.03
34,2013,-0.06,-0.08,-0.12,-0.35,-0.68,-1.14,-0.79,-0.45,-0.33,-0.13,-0.16,-0.34
35,2014,-0.50,-0.42,-0.05,-0.16,-0.17,0.00,0.42,0.23,-0.09,0.12,0.37,0.35
36,2015,0.23,0.06,0.15,0.31,0.95,1.90,1.79,1.95,2.24,2.15,1.94,1.93
37,2016,1.94,1.81,1.32,1.33,1.24,0.36,-0.53,-0.27,-0.29,-0.54,-0.48,-0.37
38,2017,-0.43,-0.42,-0.58,-0.19,0.19,-0.24,-0.63,-0.73,-0.74,-0.59,-0.62,-0.74
39,2018,-0.79,-0.71,-0.80,-1.32,-0.94,-0.52,-0.05,0.46,0.62,0.52,0.33,0.18
40,2019,0.09,0.50,0.76,0.30,0.23,0.35,0.30,0.32,0.16,0.31,0.47,0.36
41,2020,0.25,0.26,0.13,-0.15,-0.23,-0.68,-0.94,-0.96,-1.15,-1.17,-1.13,-1.14
42,2021,-1.20,-0.96,-0.79,-0.95,-1.07,-1.05,-1.44,-1.29,-1.38,-1.46,-1.39,-1.20
43,2022,-1.01,-0.98,-1.31,-1.61,-1.63,-1.90,-2.17,-1.75,-1.73,-1.73,-1.53,-1.28
44,2023,-1.11,-0.91,-0.76,-0.37,-0.06,0.43,0.50,0.51,0.68,0.48,0.91,1.13
45,2024,0.70,0.68,0.78,0.34,0.12,-0.23,-0.72,-0.73,-0.65,-0.52,-0.68,-0.91
46,2025,-1.00,-0.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
mei_entire_df_long = indexes.meiIndex(mei_entire_df) ######
mei_entire_df_long

TypeError: Can only merge Series or DataFrame objects, a <class 'NoneType'> was passed

In [6]:
nino12_entire_df = pd.read_csv("./data/niño 1+2.csv")
nino12_entire_df

,year,01,02,03,04,05,06,07,08,09,10,11,12
0,1950,-1.55,-1.78,-1.38,-1.90,-1.74,-1.79,-1.65,-0.88,-1.17,-1.02,-1.80,-1.09
1,1951,-0.46,-0.91,-0.75,-0.25,0.17,1.49,1.86,1.17,0.56,0.72,0.68,0.02
2,1952,-0.21,-0.08,-0.41,-1.10,-0.93,-1.20,-1.23,-1.11,-1.36,-0.65,-0.82,-0.50
3,1953,-0.44,0.17,0.74,1.47,1.01,0.31,-0.00,0.17,0.33,-0.18,-0.14,-0.59
4,1954,-1.91,-1.22,-1.32,-3.09,-2.99,-2.46,-2.83,-1.69,-1.71,-2.04,-1.45,-1.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2021,-0.88,-0.86,-0.75,-0.94,-0.79,-0.37,-0.21,-0.29,-0.70,-0.87,-1.12,-1.69
72,2022,-1.11,-1.58,-0.76,-1.40,-1.66,-1.49,-1.20,-0.60,-1.02,-1.78,-1.13,-0.46
73,2023,-0.56,0.48,1.49,2.62,2.22,2.50,2.98,3.29,2.42,2.32,2.07,1.61
74,2024,1.29,1.12,0.25,-0.21,-1.17,-0.95,-0.78,-0.42,-0.75,-0.32,0.06,-0.03
75,2025,-0.33,0.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
nino12_entire_df_long = indexes.nino12Index(nino12_entire_df) ######
nino12_entire_df_long

,date,value,index_name,index_description,unit,phase,phase_description,event,event_description,type
0,1950-01-01,-1.6,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Fría,Esta fase se caracteriza porque las anomalías ...,Niña,Este evento se caracteriza porque la fase fría...,Fuerte
1,1950-02-01,-1.8,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Fría,Esta fase se caracteriza porque las anomalías ...,Niña,Este evento se caracteriza porque la fase fría...,Fuerte
2,1950-03-01,-1.4,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Fría,Esta fase se caracteriza porque las anomalías ...,Niña,Este evento se caracteriza porque la fase fría...,Moderado
3,1950-04-01,-1.9,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Fría,Esta fase se caracteriza porque las anomalías ...,Niña,Este evento se caracteriza porque la fase fría...,Fuerte
4,1950-05-01,-1.7,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Fría,Esta fase se caracteriza porque las anomalías ...,Niña,Este evento se caracteriza porque la fase fría...,Fuerte
...,...,...,...,...,...,...,...,...,...,...
907,2025-08-01,NaN,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Neutra,Esta fase se caracteriza porque las anomalías ...,Neutro,Condiciones neutras,Neutro
908,2025-09-01,NaN,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Neutra,Esta fase se caracteriza porque las anomalías ...,Neutro,Condiciones neutras,Neutro
909,2025-10-01,NaN,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Neutra,Esta fase se caracteriza porque las anomalías ...,Neutro,Condiciones neutras,Neutro
910,2025-11-01,NaN,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Neutra,Esta fase se caracteriza porque las anomalías ...,Neutro,Condiciones neutras,Neutro
911,2025-12-01,NaN,Niño 1+2,Índice Niño 1+2: representa las anomalías mens...,°C,Neutra,Esta fase se caracteriza porque las anomalías ...,Neutro,Condiciones neutras,Neutro